<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./Tests</directory>
            <exclude>./Tests/Functional</exclude>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">./Tests/Functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
        <listener class="\FOS\HttpCacheBundle\Tests\Functional\WebServerListener">
            <arguments>
                <string>functional</string>
            </arguments>
        </listener>
    </listeners>

    <php>
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT" value="8000" />
        <const name="WEB_SERVER_DOCROOT" value="./Tests/Functional/Fixtures/web" />
    </php>
</phpunit>